# ASSIGNMENT - 2  Sneha

# Ques 1. Write a Python program to remove duplicates from a list.

In [18]:
l1=[2,5,7,7,8,7,9,8,7]
result=[]
for i in l1:
    if i not in result:
        result.append(i)
    
print(result)

[2, 5, 7, 8, 9]

# Ques 2. Write a Python program to combine two dictionary adding values for common keys

In [19]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}

for key in d1:
        if key in d2:
            d2[key] = d1[key] + d2[key]
        else:
            d2[key] = d1[key]


print(d2)

{'a': 400, 'b': 400, 'd': 400, 'c': 300}

# Ques 3.Write a Python program to convert a tuple to a string.

In [20]:
t= ('p', 'y', 't', 'h', 'o', 'n')
str=''.join(t)
print(str)

python

# Ques 4.Write a Python program to remove item(s) from set

In [21]:
a={'dell','hp','lenevo','apple','asus','aser','msi'}

In [22]:
a.pop()

'hp'

In [23]:
a

{'apple', 'aser', 'asus', 'dell', 'lenevo', 'msi'}

In [24]:
a.remove('msi') #remove

In [25]:
a

{'apple', 'aser', 'asus', 'dell', 'lenevo'}

# Ques 5. Write a Python program to create a symmetric differenceÂ¶

In [26]:
setA={1,2,3,4,5,6}
setB={7,8,2,9,6,0}
print('Original SetA',setA)
print('Original SetA',setB)
print('Symetric diff setA - setB',setA-setB)
print('Symetric diff setB - setA',setB-setA)

Original SetA {1, 2, 3, 4, 5, 6}
Original SetA {0, 2, 6, 7, 8, 9}
Symetric diff setA - setB {1, 3, 4, 5}
Symetric diff setB - setA {0, 8, 9, 7}

# Ques 6.Write a Python program to construct the following pattern, using a nested for loop.
*
*
*
*
*

In [13]:
print('Pattern Print')

n=6
for i in range(n):
    for j in range(i):
        print('*')
        break

Pattern Print
*
*
*
*
*

# Ques 7. Write a Python program to get the Fibonacci series between 0 to 50.

In [11]:
a=0
b=1
c=0

while c<50:
    print(c)
    a=b
    b=c
    c=a+b

0
1
1
2
3
5
8
13
21
34